Checks: >
  cppcoreguidelines-*,
  modernize-*,
  readability-*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  -*deprecated,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-avoid-magic-numbers,
  -modernize-use-trailing-return-type,
  -modernize-use-auto,
  -cppcoreguidelines-pro-type-union-access

WarningsAsErrors: '*'
HeaderFilterRegex: '^(?!.*glm).*$'
AnalyzeTemporaryDtors: true

CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: performance-unnecessary-value-param.AllowedTypes
    value: 'std::string'
